body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #53CBFB;
    color: #15286A;
}

.capsule {
    display: flex;
    justify-content: center;
}

form {
    box-sizing: border-box;
    border: 1px solid #DAF7A6;
    padding: 0px 5px 12px 5px;
}

.the-form section {
    display: grid;
    align-items: center;
    text-align: center;
}

.title h1{
    margin: 20px 0 -3px 0;
}

.space-between {
    border: 2px solid #241917;
    border-radius: 5%;
}

.nombres {
    margin-top: 5px;
}

.emails input {
    margin-bottom: 5px;
}

section .the-middle {
    width: 313px;
}

.carreras {
    justify-content: center;
    margin-top: 14px;
}

.carreras label {
    margin-bottom: 4px;
}

.container-g {
    display: inline;
}

#separacion {
    margin-top: 18px;
}

.the-message {
    margin-top: 9px;
}

.submit-the-thing {
    display: grid;
    justify-content: center;
}

.submit-the-thing input {
    margin-top: 2px;
    width: auto;
}
