body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: linear-gradient(
        #b2c4c4 0,
        #ccd8d8 10%,
        #ccd8d8 60%,
        #b2c4c4 100%
    );
    color: #003d3d;
    font-family: bold;
}

.capsule {
    display: flex;
    justify-content: center;
}

form {
    box-sizing: border-box;
    border: 1px solid #003d3d;
    padding: 0px 5px 12px 5px;
    
}

.the-form section {
    display: grid;
    align-items: center;
    text-align: center;
    place-items: center;
}

.title h1{
    margin: 20px 0 -3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    border: 2px solid #003d3d;
    border-radius: 5%;
}

.inputs-with-text{
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #003d3d;
    outline: none;
}

.nombres {
    margin-top: 5px;
}

.emails input {
    margin-bottom: 5px;
}

section .the-middle {
    width: 313px;
    margin: 9px;
}

.carreras {
    justify-content: center;
    margin-top: 14px;
}

.carreras label {
    margin-bottom: 4px;
}

.container-g {
    display: inline;
}

#separacion {
    margin-top: 18px;
}

.the-message {
    margin-top: 9px;
}

.submit-the-thing {
    display: grid;
    justify-content: center;
}

.submit-the-thing input {
    margin-top: 2px;
    width: auto;
}
